main {
    font-size: 16px;
}

.container {
    width: 90%;
}

#wb-bc a {
    padding: 0;
}

.gcweb-menu [role=menu] [role=menu] {
    min-height: 300px !important;
    border-left: #eee solid 1px;
}

.gcweb-menu [role=menu] [role=menu] [role=menu] {
    border-left: none;
    min-height: auto !important;
}

.mnu-sub {
    list-style: disc;
    margin-left: 20px;
}

a:visited {
    color: #284162;
}

details summary {
    border: none;
    padding-left: 0;
}

details[open],
details[open] > summary {
    border: none;
}

header[role=banner] {
    z-index: 1 !important;
}

h1 {
    font-size: 28px;
    margin-top: .75em;
    margin-bottom: .6em;
}

label {
    font-weight: 400;
}

::-ms-clear {
    display: none;
}

.alert > :first-child {
    margin-left: 1.4em;
}

.datemod {
    padding-left: 0;
}

.equal {
    display: flex;
}

input.fielderror,
select.fielderror,
textarea.fielderror,
.has-error .form-control {
    background-color: #faf3f3;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 1px #a00;
    -webkit-box-shadow: 0 0 1px #a00;
    box-shadow: 0 0 1px #a00;
    border-color: #a94442;
}

.fld-example {
    display: block;
    font-size: 84%;
    color: #767676;
    padding-left: 2px;
    position: relative;
    line-height: 1.5em;
    margin-top: 2px;
    margin-bottom: 3px;
}

.input-group-addon {
    padding: 6px 14px;
}

.info {
    border-left: solid 3px #31708f;
    color: #000;
    background-color: #EBF2FA;
    margin: 20px 0;
    padding: 10px 15px;
}

.info h3 {
    margin-top: 10px;
}

.panel-primary > .panel-heading {
    background-color: #335075;
    border-color: #335075;
}

.panel-primary {
    border-color: #335075;
}

.panel-min-height {
    min-height: 4.3em;
}

.panel-service,
.panel-account {
    box-shadow: 1px 1px 1px #666;
}

.panel-disabled {
    border: 1px dotted #ccc;
    opacity: 80%;
}

.panel-disabled h4,
.panel-disabled .panel-body {
    color: #666;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    left: 0;
    margin-left: 0;
}

.mandatory,
.mandatory-instructions {
    position: relative;
    top: 4px;
    color: #a00;
    font-weight: 800;
    font-size: 130%;
    line-height: 0;
}

.mandatory {
    padding-right: 3px;
}

.row {
    padding-top: .3em;
    padding-bottom: .3em;
}

.nav-button {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 1%, rgba(247, 247, 247, 1) 100%);
    padding: 2px 2px 6px;
}

.wb-tabs [role=tablist] li {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
}

.wb-tabs [role=tabpanel] {
    overflow-x: visible;
}

.wb-tabs [role=tablist].generated li {
    top: 1px;
}

.wb-tabs [role=tablist] li.active a {
    border-top-width: 0;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}

.wb-tabs > .tabpanels {
    overflow: visible;
}

.wb-tabs > .tabpanels > details {
    border-top-left-radius: 0;
}

.wb-tabs [role=tablist] li.active a:focus {
    outline: none;
}

.wb-tabs [role=tablist] li a {
    padding: 6px 12px;
}

#cn-accnt {
    float: right;
    font-size: 12px;
    text-align: right;
    padding-right: 0;
    margin-top: 1em;
}

#cn-accnt .account-number {
    font-size: 14px;
    font-weight: 700;
}

#cn-mrg-accnt {
    opacity: 1;
    position: fixed;
    top: 100px;
    right: 0;
    min-width: 240px;
    width: 240px;
    background-color: #eee;
    z-index: 1;
    font-size: 14px;
    -webkit-box-shadow: 1px 7px 5px 0 rgba(173, 171, 173, 1);
    -moz-box-shadow: 1px 7px 5px 0 rgba(173, 171, 173, 1);
    box-shadow: 1px 7px 5px 0 rgba(173, 171, 173, 1);
    height: auto;
    bottom: auto;
}

#cn-mrg-accnt .panel-heading,
#cn-mrg-accnt .panel-body {
    opacity: 1;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
}

#report thead th {
    white-space: nowrap;
}

#cn-selection-filter {
    overflow-y: scroll;
}

#cn-selection-filter a:hover {
    text-decoration: underline;
}

#cn-selection-filter li.selected {
    background-color: #d8e5ed;
}

#cn-selection-filter ul {
    line-height: 1.8em;
    list-style: none;
    margin: 0;
    padding: 0;
}

#cn-selection-filter li {
    padding-left: 3px;
    padding-right: 3px;
}

#cn-amt-total {
    background-color: #fcf8e3;
    border: 1px solid #999;
    border-radius: 6px;
    margin-top: 5px;
    padding: 5px 5px 5px 20px;
}

#ctxtmenu-syllabus i {
    min-width: 20px;
}

#panelbar .list-group {
    margin-bottom: 0;
}

#panelbar .list-group > .list-group-item.note {
    display: table;
    border-top: 1px dotted #ddd;
    border-right: none;
    border-bottom: 1px dotted #ddd;
    border-left: none;
    width: 100%;
}

#panelbar .list-group > .list-group-item.note:first-child {
    border-top: none;
}

#panelbar .list-group > .list-group-item.note.note-permanent {
    background: #eff7ff;
    color: #31708f;
    transition-duration: 1s;
}

#panelbar .list-group > .list-group-item.note.note-default {
    background: #ffc;
    color: #8a6d3b;
    transition-duration: 1s;
}

#panelbar .list-group > .list-group-item.note.note-delete {
    background: #f3e9e8;
    color: #000;
    transition-duration: 1s;
    border-left: 4px solid #d3080c;
    padding-left: 11px;
}

#panelbar .list-group > .list-group-item.note > .note-icon {
    display: table-cell;
    padding-right: 5px;
    font-size: 14px;
    vertical-align: top;
    width: 30px;
}

#panelbar .list-group > .list-group-item.note.note-delete > .note-confirm {
    border-bottom: 1px dotted #fff;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

#panelbar .list-group > .list-group-item.note.note-default > .note-icon > i.fa-comment {
    color: #fbd850;
}

#panelbar .list-group > .list-group-item.note.note-delete > .note-icon > i.fa-trash {
    color: #d3080c;
}

#panelbar .list-group > .list-group-item.note > .note-content {
    padding-right: 5px;
}

#panelbar .list-group > .list-group-item.note > .note-content > .note-text {
    font-size: 14px;
    margin-bottom: 5px;
}

#panelbar .list-group > .list-group-item.note .note-buttons i {
    margin-right: 3px;
}

#panelbar .list-group > .list-group-item.note .note-buttons ul {
    list-style: none;
    margin: 0;
    padding: 5px 0 0;
}

#panelbar .list-group > .list-group-item.note .note-buttons ul li {
    display: inline;
    padding-right: 15px;
}

#panelbar .editable-click {
    border-bottom: none !important;
}

#panelbar .editable-buttons {
    display: block;
}

#panelbar .note-permanent .note-text .editable-note::before,
#panelbar .note-default .note-text .editable-note::before {
    content: open-quote;
}

#panelbar .note-permanent .note-text .editable-note::after,
#panelbar .note-default .note-text .editable-note::after {
    content: close-quote;
}

#panelbar textarea.form-control {
    width: 100%;
    background-color: #fff;
}

#syllabus-basicadv div,
#syllabus-flightreviewer div {
    padding: 3px;
}

#syllabus-basicadv div:hover,
#syllabus-flightreviewer div:hover {
    background-color: #D9EFF5;
}

#manage-syllabus-updates div.text-truncate {
    width: 40em;
}

h2.moretasks,
.hd-section {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
}

h3.hd-section {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

ol.list-radio {
    list-style: none;
    padding: .5em 0 0;
}

ol.list-radio > li {
    padding-left: 1.7em;
}

ol.list-radio > li:before {
    content: "\f111";
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: #999;
}

ol.list-radio > li.correct-answer:before {
    content: "\f058";
    color: #093;
}

.alert h2 {
    font-size: 21px;
}

.alert-info,
.label-info,
.label-info[href]:active,
.label-info[href]:focus,
.label-info[href]:hover,
details.alert.alert-info,
details.alert[open].alert-info {
    background-color: #dbedfe;
}

.cn-certification {
    background-color: #ffc;
    margin-bottom: 1em;
    box-shadow: 3px 3px 5px #888;
    border: 1px solid #fc3;
    vertical-align: middle;
    padding: 10px;
}

.cn-certification input[type=checkbox] {
    margin-right: 10px;
}

.fa-1h5x {
    font-size: 1.8em;
}

.form-control.fielderror {
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border-color: #a94442;
}

.hd-suffix {
    font-size: 16px;
    float: right;
    font-weight: 400;
}

.info-text {
    font-size: 12px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.indicator-correct-answer {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
    border-bottom: 1px solid #093;
    border-left: 1px solid #093;
    border-right: 1px solid #093;
    border-top: 1px dotted #093;
    background-color: #dff0d8;
    padding: 9px;
}

.label-question {
    font-weight: 700;
    font-size: 22px;
}

.label-form {
    font-weight: 700;
    color: #666;
}

.mrgn-answer-selected {
    margin-bottom: 40px;
}

.page-header {
    margin-top: 5px;
    margin-bottom: 16.75px;
    padding-bottom: 4px;
    padding-top: 0;
    border-bottom: 1px solid #666;
}

.panel h2.hd-section {
    font-size: 20px;
    margin: 0 0 8px;
}

.pill-green,
.pill-red,
.pill-yellow,
pill-white {
    border-radius: 9px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
    border: 1px solid #ccc;
    padding: 9px;
}

.pill-status {
    border-radius: 5px;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px;
}

.pill-green {
    background-color: #dff0d8;
}

.pill-yellow {
    background-color: #fcf8e3;
}

.pill-red {
    background-color: #f2dede;
}

.pill-white {
    background-color: #fff;
}

.table-condensed {
    font-size: 14px;
}

.table-comparison > thead > tr.tbl-grp-hdr {
    background: linear-gradient(to right, rgba(252, 252, 252, 1) 0, rgba(229, 229, 229, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e5e5e5', GradientType=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.table-comparison > tbody > tr > th {
    font-weight: 400;
    margin-left: 10px;
}

.table-comparison h2 {
    margin-top: .8em;
    font-size: 18px;
}

.table-comparison h3 {
    margin-top: .8em;
    font-size: 16px;
}

.table-comparison tbody tr th {
    padding-left: 20px;
}

.text-truncate a {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
}

#exclusionlist li a.text-truncate {
    max-width: 80%;
    width: 80%;
    height: 27px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#exclusionlist li a.small {
    display: inline;
}

thead tr, .table-comparison > tbody > tr.tbl-sctn-hdr {
    background-color: #f5f5f5;
}

.panel, #panelbar .editableform .control-group {
    width: 100%;
}

.panel-businessline > .panel-heading, .pill-blue {
    background-color: #e1eefb;
}

#cn-selection-filter a, #ctxtmenu-syllabus a {
    text-decoration: none;
}

#panelbar .list-group > .list-group-item.note:last-child, .page-header h1 {
    border-bottom: none;
}

#panelbar .list-group > .list-group-item.note > .note-content > .note-info, #panelbar .list-group > .list-group-item.note .note-buttons {
    font-size: 12px;
}

.label-upper, .position-title {
    text-transform: uppercase;
    font-size: 80%;
    color: #666;
}