.ln-hght-md {
    line-height: 60px;
}

.ln-hght-sm {
    line-height: 50px;
}

.ln-hght-xs {
    line-height: 40px;
}

.width100 {
    width: 100%;
}

.width95 {
    width: 95%;
}

.width90 {
    width: 90%;
}

.width85 {
    width: 85%;
}

.width80 {
    width: 80%;
}

.width75 {
    width: 75%;
}

.width70 {
    width: 70%;
}

.width65 {
    width: 65%;
}

.width60 {
    width: 60%;
}

.width55 {
    width: 55%;
}

.width50 {
    width: 50%;
}

.width45 {
    width: 45%;
}

.width40 {
    width: 40%;
}

.width35 {
    width: 35%;
}

.width30 {
    width: 30%;
}

.width25 {
    width: 25%;
}

.width20 {
    width: 20%;
}

.width15 {
    width: 15%;
}

.width10 {
    width: 10%;
}

.width9 {
    width: 9%;
}

.width8 {
    width: 8%;
}

.width7 {
    width: 7%;
}

.width6 {
    width: 6%;
}

.width5 {
    width: 5%;
}

.width4 {
    width: 4%;
}

.width3 {
    width: 3%;
}

.width2 {
    width: 2%;
}

.width1 {
    width: 1%;
}

.mrgn-0 {
    margin: 0;
}

.mrgn-tp-0 {
    margin-top: 0;
}

.mrgn-rght-0 {
    margin-right: 0;
}

.mrgn-bttm-0 {
    margin-bottom: 0;
}

.mrgn-bttm-21 {
    margin-bottom: 21px;
}

.mrgn-lft-0 {
    margin-left: 0;
}

.mrgn-lft-radio {
    margin-left: 20px;
}

.mrgn-auto {
    margin: auto;
}

.mrgn-panel-heading-bttm {
    margin-bottom: 10px;
}

.mrgn-panel-heading-tp {
    margin-top: 10px;
}

.mrgn-panel-heading-lft {
    margin-left: 10px;
}

.pddng-0 {
    padding: 0;
}

.pddng-xsm {
    padding: 2px;
}

.pddng-sm {
    padding: 5px;
}

.pddng-md {
    padding: 20px;
}

.pddng-rght-0 {
    padding-right: 0;
}

.pddng-rght-sm {
    padding-right: 5px;
}

.pddng-rght-md {
    padding-right: 10px;
}

.pddng-lft-0 {
    padding-left: 0;
}

.pddng-lft-sm {
    padding-left: 5px;
}

.pddng-lft-md {
    padding-left: 10px;
}

.pddng-lft-lg {
    padding-left: 20px;
}

.pddng-tp-0 {
    padding-top: 0;
}

.pddng-tp-sm {
    padding-top: 5px;
}

.pddng-bttm-0 {
    padding-bottom: 0;
}

.pddng-bttm-sm {
    padding-bottom: 5px;
}

.pddng-panel-heading-bttm {
    padding-bottom: 10px;
}

.pddng-panel-heading-lft {
    padding-left: 15px;
}

.pddng-panel-heading-rght {
    padding-right: 15px;
}

.brdr-0 {
    border: none;
    border-width: 0;
}

.brdr-tp-0 {
    border-top: none;
    border-top-width: 0;
}

.brdr-rght-0 {
    border-right: none;
    border-right-width: 0;
}

.brdr-bttm-0 {
    border-bottom: none;
    border-bottom-width: 0;
}

.brdr-lft-0 {
    border-left: none;
    border-left-width: 0;
}

.brdr-rds-tp-lft {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}

.brdr-rds-tp-rght {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}

.brdr-rds-bttm-rght {
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.brdr-rds-bttm-lft {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.brdr-rds-tp-lft-0 {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
}

.brdr-rds-tp-rght-0 {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
}

.brdr-rds-bttm-rght-0 {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}

.brdr-rds-bttm-lft-0 {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

.separator-bttm,
tr.separator-bttm td,
tr.separator-bttm th {
    border-bottom: 2px solid #739ABD;
}

.border-bottom {
    border-bottom: 1px solid #DDD;
}

.border-top {
    border-top: 1px solid #DDD;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}

.display-table {
    display: table;
}

.display-table-row {
    display: table-row;
}

.display-table-cell {
    display: table-cell;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.pull-front {
    position: relative;
    z-index: 1;
}

.text-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-upper {
    text-transform: uppercase;
}

.xxlarge,
.xxlarge .form-control {
    font-size: 26px;
}

.xlarge,
.xlarge .form-control {
    font-size: 23px;
}

.large,
.large .form-control {
    font-size: 20px;
}

.medium,
.medium .form-control {
    font-size: 16px;
}

.small,
.small .form-control {
    font-size: 12px;
}

.xsmall,
.xsmall .form-control {
    font-size: 10px;
}

.fnt-wght-nrml {
    font-weight: 400;
}

.fnt-wght-bld {
    font-weight: 700;
}

.fnt-styl-itlc {
    font-style: italic;
}

.txt-dcrtn-ln-thrgh {
    text-decoration: line-through;
}

.capitalize:first-letter {
    text-transform: capitalize;
}

.text-wordwrap {
    white-space: 0 !important;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.text-approved {
    color: #8a61a2;
}

.text-default {
    color: #000;
}

.text-draft {
    color: #ffd77a;
}

.text-priority-medium {
    color: #ffa21a;
}

.text-priority-low {
    color: #78ccff;
}

.text-successbright {
    color: #04AC00;
}

.text-green {
    color: #060;
}

.text-grey {
    color: #999;
}

.text-blue {
    color: #284162;
}

.text-yellow {
    color: #fc3;
}

.text-shadow {
    text-shadow: 1px 1px 2px #000;
}

.text-white {
    color: #FFF;
}

.text-info {
    color: #1C538C;
}

.text-red {
    color: #900;
}

.text-orange {
    color: #FC0;
}

.bg-default {
    background-color: #f5f5f5;
}

.bg-none {
    background: none;
}

.bg-white {
    background-color: #FFF;
}

.bg-info {
    background-color: #EFF7FF;
}

.bg-fail {
    background-color: #EBF3F6;
}

.bg-grey {
    background-color: #eee;
}

.bg-drk-grey {
    background-color: #999;
}

.bg-grdnt-hrztl-grey {
    background: linear-gradient(to right, rgba(229, 229, 229, 1) 0 rgba(255, 255, 255, 1) 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
}

.bg-grdnt-hrztl-grey-rvrs {
    background: linear-gradient(to right, rgba(252, 252, 252, 1) 0 rgba(229, 229, 229, 1) 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e5e5e5', GradientType=1);
}

.bg-grdnt-vrtcl-blue {
    background: linear-gradient(to bottom, rgba(213, 226, 237, 1) 17% rgba(255, 255, 255, 1) 99%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5e2ed', endColorstr='#ffffff', GradientType=0);
}

.bg-grdnt-vrtcl-dark-blue {
    background: linear-gradient(to bottom, rgba(66, 109, 148, 1) 0 rgba(123, 158, 189, 1) 98%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#426d94', endColorstr='#7b9ebd', GradientType=0);
}

.bg-success {
    background-color: #FFC !important;
}

.mrgn-rght-md, .mrgn-panel-heading-rght {
    margin-right: 10px;
}

.pddng-tp-md, .pddng-panel-heading-tp {
    padding-top: 10px;
}

.text-top, .table.text-top > tbody > tr > td, .table.text-top > tbody > tr > th, .table.text-top > tfoot > tr > td, .table.text-top > tfoot > tr > th, .table.text-top > thead > tr > td, .table.text-top > thead > tr > th, .table > tbody.text-top > tr > td, .table > tbody.text-top > tr > th, .table > tfoot.text-top > tr > td, .table > tfoot.text-top > tr > th, .table > thead.text-top > tr > td, .table > thead.text-top > tr > th, .table > tbody > tr.text-top > td, .table > tbody > tr.text-top > th, .table > tfoot > tr.text-top > td, .table > tfoot > tr.text-top > th, .table > thead > tr.text-top > td, .table > thead > tr.text-top > th, .table > tbody > tr > td.text-top, .table > tbody > tr > th.text-top, .table > tfoot > tr > td.text-top, .table > tfoot > tr > th.text-top, .table > thead > tr > td.text-top, .table > thead > tr > th.text-top {
    vertical-align: top;
}

.text-middle, .table.text-middle > tbody > tr > td, .table.text-middle > tbody > tr > th, .table.text-middle > tfoot > tr > td, .table.text-middle > tfoot > tr > th, .table.text-middle > thead > tr > td, .table.text-middle > thead > tr > th, .table > tbody.text-middle > tr > td, .table > tbody.text-middle > tr > th, .table > tfoot.text-middle > tr > td, .table > tfoot.text-middle > tr > th, .table > thead.text-middle > tr > td, .table > thead.text-middle > tr > th, .table > tbody > tr.text-middle > td, .table > tbody > tr.text-middle > th, .table > tfoot > tr.text-middle > td, .table > tfoot > tr.text-middle > th, .table > thead > tr.text-middle > td, .table > thead > tr.text-middle > th, .table > tbody > tr > td.text-middle, .table > tbody > tr > th.text-middle, .table > tfoot > tr > td.text-middle, .table > tfoot > tr > th.text-middle, .table > thead > tr > td.text-middle, .table > thead > tr > th.text-middle {
    vertical-align: middle;
}

.text-bottom, .table.text-bottom > tbody > tr > td, .table.text-bottom > tbody > tr > th, .table.text-bottom > tfoot > tr > td, .table.text-bottom > tfoot > tr > th, .table.text-bottom > thead > tr > td, .table.text-bottom > thead > tr > th, .table > tbody.text-bottom > tr > td, .table > tbody.text-bottom > tr > th, .table > tfoot.text-bottom > tr > td, .table > tfoot.text-bottom > tr > th, .table > thead.text-bottom > tr > td, .table > thead.text-bottom > tr > th, .table > tbody > tr.text-bottom > td, .table > tbody > tr.text-bottom > th, .table > tfoot > tr.text-bottom > td, .table > tfoot > tr.text-bottom > th, .table > thead > tr.text-bottom > td, .table > thead > tr.text-bottom > th, .table > tbody > tr > td.text-bottom, .table > tbody > tr > th.text-bottom, .table > tfoot > tr > td.text-bottom, .table > tfoot > tr > th.text-bottom, .table > thead > tr > td.text-bottom, .table > thead > tr > th.text-bottom {
    vertical-align: bottom;
}
